<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAWREADY</title>
  <link rel="stylesheet" href="/login.css">
</head>

<body>


  <div id="wrap">
    <div id="loginWr">
      <a href="#"><img src="/img/logo.png" alt="PAWREADY"></a>
      <form class="inputs" action="/auth/login" method="POST" id="loginForm">
        <input type="text" name="username" id="username" placeholder=" Username" required><br>
        <input type="password" name="password" id="password" placeholder=" Password" required><br>
        <button type="submit">Log in</button>
      </form>
      <div class="forgotPW">
        <p>Don't have an account? <a href="/auth/register">Register here</a>.</p>
      </div>
    </div>
  </div>


</body>

</html>