<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAWREADY</title>
    <link rel="stylesheet" href="/index.css">
    <script src="/mainpage/js/"></script>
</head>

<body>
    <div id="wrap">
        <!-- head -->
        <div class="head-wr">
            <header>
                <div class="logo-wr">
                    <div id="logo">
                        <a href="#"><img src="mainpage/img/logo.png" alt="logo"></a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#"><img src="mainpage/img/nav_1.png" alt="home">홈</a></li>
                            <li><a href="#"><img src="mainpage/img/nav_2.png" alt="map">장소</a></li>
                            <li><a href="#"><img src="mainpage/img/nav_3.png" alt="prf">찾아보기</a></li>
                        </ul>
                    </nav>
                    <div class="more-tap">
                        <a href="#"><img src="mainpage/img/nav_4.png">더보기</a>
                    </div>
            </header>
        </div>

        <!-- contents -->
        <main>
            <div class="container">
                <!-- <div class="conHead">
                    <img class="conProf"  alt="user">
                    <p id="username"></p>
                    <img class="conMore" src="mainpage/img/more.png" alt="more">
                </div>
                <div class="conImg">
               
                </div>
                <div class="conFoot">
                </div> -->
            </div>
            <div class="container"></div>
        </main>

        <!-- footer -->
        <footer>
            <div id="foot-wr">
                <div class="foot-friend">
                    <div class="friendText">
                        <p>포레디 친구 추천</p>
                    </div>

                </div>
                <div class="foot-info">
                    <div class="ft-myinfo">
                        <p>MY Info</p>
                        <ul>
                            <li><span>Name</span>박조아</li>
                            <li><span>Student No</span>20101742</li>
                        </ul>
                    </div>
                    <div class="ft-clinfo">
                        <p>Class Info</p>
                        <ul>
                            <li><span>Class Name</span>고급웹프로그래밍</li>
                            <li><span>Proffesor</span>이길흥 교수님</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>